* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;

}

img {
    height: 100%;
    max-width: 560px;
}

#slot {
    border-style: solid;
    border-color: white;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    min-width: 560px;
    height: 50%;
}

#text-entry {
    display: none;
}

#success {
    display: none;
}

#failure {
    display: none;
}